@tailwind base;
@tailwind components;
@tailwind utilities;

.primary-color {
    @apply text-transparent bg-clip-text bg-gradient-to-r from-orange-500 to-orange-400;
  }

main{
    max-width: 1280px;
    margin: auto;
    min-height: 90vh;
    padding: 10px;
    font-family: 'Montserrat', Helvetica, Arial, Lucida, sans-serif;
}
